:root {
    --primary-color: #fffff3;
    --secondary-color: #7699d4;
    --secondary-color-semi-transparent: rgba(118, 152, 212, 0.225);
    --accent-color: #fbda9b;
    --accent-color-semi-transparent: #fbd99b52;
    --accept-color: #31e637;
    --reject-color: #ac1005;
    --undo-color: #f38e21;
}

* {
    font-family: "Inter", sans-serif;
}

#mainElement {
    background: linear-gradient(var(--secondary-color-semi-transparent), var(--primary-color));
}

#navbar {

    background-color: var(--secondary-color-semi-transparent);    
    border-bottom: 1px solid rgba(0, 0, 0, 0.103);
}

#navbar a{
    font-size:calc(1.1rem + 15%);
}

#navbar > *{
    padding-right: 3%;
}

#footer {
    background-color: var(--primary-color);    
}

#footer a{
    text-decoration: none;
}

#footer h6 {
    color: var(--secondary-color);
}

#footerBottomBar {
    background-color: var(--accent-color);
}

#footerBottomBarText {
    color: var(--secondary-color);
    text-decoration: none;
}

#footerLogo{
    height: 200px;
}

#acceptButton{
    background-color: var(--accept-color);
}

#rejectButton{
    background-color: var(--reject-color);
}

#undoButton{
    background-color: var(--undo-color);
}

#cardTitle{
    min-height: 4rem;    
}

.cardBody > *{
    margin-top: 5px;
    min-height: 100%;
}

.heightCustom{
    min-height: 30vh;
}

.logo{
    height: 80px;
    margin: -5px;

}

.title_m {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-optical-sizing: auto;
   
}

.formBody {
    background-color: rgba(255, 255, 255, 0.15);
}

.buttonOpacity {
    background-color: var(--accent-color-semi-transparent);
    border: #7699d4 1px solid;
}

.inputBg {
    background-color: var(--secondary-color-semi-transparent);
}

/* .text_i{
    font-family: "Inter", sans-serif;
} */

.imgPreview {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120px;
    width: 120px;
}

.cardTopImg {
    height: 30vh;
    padding: 10px;
}

.cardBackground {
    border: #7699d4 1px solid;
    background: linear-gradient(var(--secondary-color-semi-transparent), var(--primary-color));
}

.revisorImage{
    height: 50vh;
    padding: 10px;
}

.badgeArticle{
    background-color: var(--accent-color);
    border: transparent 1px solid;
    border-top: #7699d4 1px solid;
    color: var(--secondary-color);
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
}

.revisorButton {
    border: rgba(0, 0, 0, 0.600) 1px solid;
    width: 15em;
    color: white;
}