:root {
    --primary-color: #fffff3;
    --secondary-color: #7699d4;
    --secondary-color-semi-transparent: rgba(118, 152, 212, 0.225);
    --accent-color: #fbda9b;
    --accent-color-semi-transparent: #fbd99b52;
}

* {
    font-family: "Inter", sans-serif;
}

#mainElement {
    background: linear-gradient(var(--secondary-color-semi-transparent), var(--primary-color));
}

#navbar {

    background-color: var(--secondary-color-semi-transparent);    
    border-bottom: 1px solid rgba(0, 0, 0, 0.103);
}

#navbar a{
    font-size:calc(1.1rem + 15%);
}

#navbar > *{
    padding-right: 3%;
}

#footer {
    background-color: var(--primary-color);    
}

#footer a{
    text-decoration: none;
}

#footer h6 {
    color: var(--secondary-color);
}

#footerBottomBar {
    background-color: var(--accent-color);
}

#footerBottomBarText {
    color: var(--secondary-color);
    text-decoration: none;
}

#footerLogo{
    height: 200px;
}

.cardBody > *{
    margin-top: 5px;
}

.heightCustom{
    min-height: 30vh;
}

.logo{
    height: 80px;
    margin: -5px;

}

.title_m {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-optical-sizing: auto;
}

.formBody {
    background-color: rgba(255, 255, 255, 0.15);
}

.buttonOpacity {
    background-color: var(--accent-color-semi-transparent);
    border: #7699d4 1px solid;
}

.inputBg {
    background-color: var(--secondary-color-semi-transparent);
}

/* .text_i{
    font-family: "Inter", sans-serif;
} */